{{#each categories as |category|}}
  {{! add form here }}

    <div class="form-group px-2">

      <div class="mb-3">
        <div
          id="title"
        >{{category.category_name}}</div>

        <button
          class="btn btn-sm btn-danger delete"
          id="category"
          data-index-number='{{category.id}}'
        >DELETE</button>
      </div>
    </div>


{{/each}}

<a href="/newcat" class="btn btn-info">Add New Category</a>

<script src="../js/editcategory.js"></script>
<script src="../js/deletecategory.js"></script>