<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<div>
  <h2 >Total Remaining: ${{{totalRemaining}}}</h2>
  <canvas id="myChart"></canvas>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const labels = {{{json cd}}};
    const data = {{{json tamt}}};
    doughnut(labels, data);
  });
</script>
<script src="./js/piechart.js"></script>
