<div>
  <h2>Login</h2>
  <form class="form login-form">
    <div class="form-group">
      <label for="username">Username:</label>
      <input
        type="name"
        class="form-control"
        id="name-login"
        placeholder="Enter Username"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input
        type="password"
        class="form-control"
        id="password-login"
        placeholder="Password"
      />
    </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
<div>
          <label class="px-2">don't have an account? </label>
          <a href="/signup">sign up</a>

</div>
<script src="./js/login.js"></script>