
<form class="form newcatpost" id="blogpost">
<div class="form-group">

      <div class="mb-3">
        <label
          for="title"
          class="form-label"
        >New Category</label>
        <textarea
          class="form-control"
          id="categoryname"
          rows="1"
          placeholder="New Category"
        ></textarea>
      </div>
    </div>
   
   
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>

  </form>
<script src="../js/newcategory.js"></script>